  </main>
  <footer class="site-footer">
    <div class="wrapper panel panel-default">
      <div class="panel-body">
        <div class="row h5 small">
          <div class="col-xs-4">
            {{ site.title }}
          </div>
        </div>

        <div class="row">
          <div class="col-xs-4">
            <ul class="guild-link-list small">
              <li>
                Our Parent:<a href="{{site.guild_url}}"> {{site.guild_name}}</font></a>
              </li>
              <li>
                <p class="rss-subscribe">Subscribe to our news feed <a href="{{site.baseurl}}/feed.xml">via RSS</a></p>
              </li>
            </ul>
          </div>
          <div class="col-xs-4">
            <p class="small">{{site.description}}</p>
          </div>
        </div>
      </div>
    </div>

    </div>
  </footer>

</div>



<script src="{{site.baseurl}}bower_components/jquery/dist/jquery.min.js"></script>
<script src="{{site.baseurl}}bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
<script src="{{site.baseurl}}assets/js/global.js"></script>
</body>

</html>
