<footer class="site-footer">
  <div class="wrapper">
    <h2 class="footer-heading">{{ site.title }}</h2>
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            {{site.title}}
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="guild-link-list">
          <li>
            Our Parent:<a href="{{site.guild_url}}"><font style="size:8px"> {{site.guild_name}}</font></a>
          </li>
          <li>
            <p class="rss-subscribe">subscribe to our news feed <a href="{{site.baseurl}}/feed.xml">via RSS</a></p>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{site.description}}</p>
      </div>
    </div>

  </div>
</footer>
