<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ site.title }} - {{ page.title }}</title>
  <meta name="description" content="{{ site.description }}">

  <link rel="stylesheet" href="{{site.baseurl}}/assets/main.css">
  <link rel="stylesheet" href="{{site.baseurl}}/css/global.css">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="/feed.xml">
  <script src="/javascript/global.js"></script>

</head>
