<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">

    <link rel="stylesheet" href="/assets/main.css">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="/feed.xml">
    <script src="/javascript/global.js"></script>

  </head>

  <body>

{% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <div class="home">
            <h1 class="page-heading">Posts</h1>
            <ul class="post-list">
              {% for post in site.posts %}
              <li>
                <a href="{{ post.url }}">{{ post.title }}</a><br />
                <font size="2" class="{{post.title}}-author">
                  by {{post.author}}
                </font>
              </li>
              {% endfor %}
          </ul>
          <p class="rss-subscribe">subscribe <a href="/feed.xml">via RSS</a></p>
        </div>
      </div>
    </main>

{% include footer.html %}

  </body>

</html>
