<!DOCTYPE html>
<html lang="en">

{% include head.html %}

  <body>

{% include header.html %}
        <div class="home">
            <div class="page-header h3">News</div>
            <ul class="post-list">
              {% for post in site.posts %}
              <li>
                <a href="{{site.url}}{{post.url}}">{{ post.title }}</a><br />
                <font size="2" class="{{post.title}}-author">
                  by {{post.author}}
                </font>
              </li>
              {% endfor %}
          </ul>
        </div>
{% include footer.html %}
